*{
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-image: url(./IMG/wall.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;

}

h1{
    text-align: center;
    height: max-content;
    font-size:100px;
    color:whitesmoke; 
    margin: auto;  
    
}
.h2{
    color:papayawhip;    
    text-align: center;
    padding: 0px 50px;
    padding-bottom: 30px;
    padding-top: 10px;
    font-weight:normal;
    font-size: 30px;
}


.container1{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 250px ;
   
}
.img{
    display: grid;
    grid-template-columns:400px;
    min-height: 700px;
    background-color: whitesmoke;
    box-shadow:5px 10px 30px 1px #385225;
    cursor: pointer;
}
#i1:hover,#i2:hover,#i3:hover{
    animation: shake 0.5s;
    animation-iteration-count:initial;
}
a{
    text-decoration: none;
}
@keyframes shake{
   
    10% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(1px, 1px) rotate(-1deg); }
    10% { transform: translate(1px, 0px) rotate(1deg); }
    20% { transform: translate(1px, 2px) rotate(0deg); }
    10% { transform: translate(1px, 1px) rotate(1deg); }
    20% { transform: translate(-1px, 2px) rotate(-1deg); }
    10% { transform: translate(-1px, 1px) rotate(0deg); }
    20% { transform: translate(1px, 1px) rotate(-1deg); }
    10% { transform: translate(-1px, -1px) rotate(1deg); }
    20% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(1px, -1px) rotate(-1deg); } 
}

   



#i1,#i2,#i3{
    margin:30px ;
}  
#c1,#c2{
    padding-top: 40px;
} 

h2{
    margin: 0 0 auto;
    margin-left: 5px;
}
/* font font margin */
.font{
    margin-bottom: 80px;
    /* padding-top: 0px; */
    
}
.font1{
    margin-top: 30px;
    
}
.font2{
   margin-bottom: 100px;

}
.font3{
    
    margin-top: 30px;
}
.font7{
    margin-bottom: 200px;
}
#name9{
    margin-top:30px;

}

/* ******************************* */
#name1,#name3,#name4,#name6,#name7,#name9{
    font-size: 50px;
    color:rgb(0, 66, 0);   
    text-align: center;
}
.img{
    text-align: center;
    padding: 5px;
}
#name2,#name5,#name8{
    font-size: 50px;
    color:rgb(0, 66, 0);
    text-align: center;
}

/* h2 font size */
#name3{
    padding-top: 25px;
}
#name4{
    padding-top:30px;
}

#name8{
    padding-bottom:8px ;
}
/* *********************************** */
p{
    color:darkslategray;
    padding: 10px;
    
}
#name1+p{
    font-size: 20px;
}

.hover{
    color: black;
    font-size: 18px;
    text-decoration:none;
}
.hover:hover{
    color:tomato;

}



@media screen and (max-width:776px) {
    .container1{
        margin: 0 0 0 120px;
    }
}
@media screen and (max-width:493px) {
    .container1{
        margin:0px 0px 0px 0.3px;
    }
}
@media screen and (max-width:400px) {
    .container1{
        margin:0px 0px 0px 0.5px;
    }
}